*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight{
  background-color: lightblue;
}
.navbar_style{
  background-color: green !important; 
}
.stocking_text{
  font-size: 1rem !important;
  font-weight: 400;
}